
/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&family=Bungee+Inline&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



/* Apply fonts globally */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Headers use Bungee Inline */
h1, h2, h3, h4, h5, h6 {
  font-family: "Bungee Inline", sans-serif;
  font-style: normal;
}

/* Utility class for Bungee Inline font */
.bungee-inline-regular {
  font-family: "Bungee Inline", sans-serif;
  font-style: normal;
}

/* Apply to specific elements that should use Bungee Inline */
.header-font {
  font-family: "Bungee Inline", sans-serif;
  font-style: normal;
}
